<!DOCTYPE html>
<html lang="ua"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Успіх</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
</head>
<body>
<nav>
    <div id="logo">Study load docs</div>
    <label for="drop" class="toggle">Menu</label>
    <input type="checkbox" id="drop"/>
    <ul class="menu">
        <li><a href="/">Головна</a></li>
        <li sec:authorize="hasAnyAuthority('ADMIN')">
            <label for="drop-1" class="toggle">Викладачі</label>
            <a href=#>Викладачі</a>
            <input type="checkbox" id="drop-1"/>
            <ul>
                <li><a href="/teachers">Перевірити зчитаних з ППС</a></li>
                <li><a href="/teachers/docs">Розіслати документи</a></li>
            </ul>
        </li>
        <li sec:authorize="hasAnyAuthority('ADMIN')">
            <label for="drop-3" class="toggle">Налаштування бази даних</label>
            <a href="#">Налаштування бд</a>
            <input type="checkbox" id="drop-3"/>
            <ul>
                <li><a href="/delete">Очистити БД (Усе зчитане)</a></li>
                <li><a href="/deleteWithoutTeachers">Очистити БД (викладачі
                    залишаться)</a></li>
            </ul>
        </li>
        <li sec:authorize="hasAnyAuthority('ADMIN')">
            <label for="drop-4" class="toggle">Налаштування акаунтів</label>
            <a href="#">Налаштування акаунтів</a>
            <input type="checkbox" id="drop-4"/>
            <ul>
                <li><a href="/users">Акаунти</a></li>
            </ul>
        </li>
        <li sec:authorize="hasAnyAuthority('ADMIN')">
            <a href="/help">Довідка</a>
        </li>
        <li><a href="/logout">Вийти</a></li>
    </ul>
</nav>
<p>
    ППС успішно зчитано у БД.
    <a href="/">На головну</a>
</p>
</body>
</html>